<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense"> -->
    <!-- <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar> -->
  <!-- </ion-header> -->

  <div>
    <ion-img class="main_logo" src="../../assets/EA_main.svg"></ion-img>
    <h1>S.O.S</h1>
    <h3>Notify Emergency Contacts</h3>
    <ion-button class="pin_btn" color="primary" shape="round">
      <ion-img  src="../../assets/Pin.svg"></ion-img>
    </ion-button>
  </div>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
